 <footer class="bhr ">

  <div class="container">
  <div class="row" >

      <ul class="nav footernav mr-auto ">
       
        <li class="nav-item"><a class="nav-link" href="#navServices"
          scroll-to="navServices" easing="easeInCubic" offset="90"> Services </a></li>
           <li class="nav-item"><a class="nav-link" href="#navAboutUs"
          scroll-to="navAboutUs" easing="easeInCubic" offset="90"> Company </a></li>
        <li class="nav-item"><a class="nav-link" href="#navCareers"
          scroll-to="navCareers" easing="easeInCubic" offset="90"> Careers </a></li>
        <li class="nav-item"><a class="nav-link" href="#navContactUs"
          scroll-to="navContactUs" easing="easeInCubic" offset="90"> Contact Us </a></li>
          <li class="nav-item"><a class="nav-link" href=""> Login </a></li>
          </ul>
          
      
      <ul class="nav footersocial ml-auto ">

        <li class="nav-item"><a class="nav-link" href="" > <i class="fa fa-facebook"></i></a></li>
        <li class="nav-item"><a class="nav-link" href=""> <i class="fa fa-twitter"></i></a></li>
        <li class="nav-item"><a class="nav-link" href=""> <i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  


 
     
  <div class="row align-items-center flex-column">
    <span class="bhrFooterLicence">Brain<span style="color:#E73F0B;font-weight:bold">HR </span>IT Solutions © 2017 - All Rights Reserved</span>
  </div>

</div>
</footer> 

<!--
<footer class="bhr">
    <div class="row align-items-center flex-column">
        <ul class="nav socialNav">
          <li class="nav-item"><a class="nav-link" href="#navAboutUs"
            scroll-to="navAboutUs" easing="easeInCubic" offset="90"> Company </a></li>
          <li class="nav-item"><a class="nav-link" href="#navServices"
            scroll-to="navServices" easing="easeInCubic" offset="90"> Services </a></li>
          <li class="nav-item"><a class="nav-link" href="#navCareers"
            scroll-to="navCareers" easing="easeInCubic" offset="90"> Careers </a></li>
          <li class="nav-item"><a class="nav-link" href="#navContactUs"
            scroll-to="navContactUs" easing="easeInCubic" offset="90"> Contact Us </a></li>
            <li class="nav-item"><a class="nav-link" href=""> Login </a></li>
          <li class="nav-item"><a class="nav-link" href="" > <i class="fa fa-facebook"></i></a></li>
          <li class="nav-item"><a class="nav-link" href=""> <i class="fa fa-twitter"></i></a></li>
          <li class="nav-item"><a class="nav-link" href=""> <i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="row align-items-center flex-column">
      <span class="bhrFooterLicence">Brain<span style="color:#E73F0B">HR </span>IT Solutions © 2017 - All Rights Reserved</span>
    </div>
  </footer>-->
  